import "experimental"

from(bucket: "energy")
|> range(start: experimental.subDuration(d: 1d, from: today()), stop: today())
|> filter(fn: (r) => r["meter"] == "{{ .meter }}")
|> derivative(nonNegative: true)
|> map(fn: (r) => ({ r with _unix: uint(v: r._time) / uint(v:1000000000) }))